<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="name.wills.demo.mapper.UserMapper" >
	<select id="countAll" resultType="int">
        select count(*) from PUBLIC.T_ID_USER
	</select>
<!-- 迭代的另一种写法 -->
    <insert id="batchInsertBrandgoodsShop" parameterType="map">
        INSERT INTO
        DP_ShoppingBrandGoods(Cover,Title,DescriptionTitle,DescriptionDetail,AddTime,UpdateTime,BrandID,Extra,SeasonLevel,Price)
        VALUES
        <foreach collection="goodsList" separator=",">
            <![CDATA[
            (
            #goodsList[].cover#,
            #goodsList[].title#,
            #goodsList[].descriptionTitle#,
            #goodsList[].descriptionDetail#,
            NOW(),
            NOW(),
            #goodsList[].brandId#,
            #goodsList[].extra#,
            #goodsList[].seasonLevel#,
            #goodsList[].price#
            )
           ]]>
        </foreach>
    </insert>
    <delete id="deleteDuplicateData" parameterType="map">
        DELETE FROM
        DP_ShoppingBrandGoods
        WHERE GoodsID IN
        <foreach collection="goodsIds" open="(" separator="," close=")">
            #goodsIds[]#
        </foreach>
    </delete>

</mapper>
